<!--
Please change:
 - "package" to your app package
 - "android:authorities" to the same name or anything you like (same rules applies)
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.edwinmd.schalter">

    <application
        android:allowBackup="false"
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher">
        <provider
            android:name="org.kustom.api.Provider"
            android:authorities="com.edwinmd.schalter.kprovider"
            android:exported="true"
            tools:ignore="ExportedContentProvider">
            <intent-filter>
                <!-- Comment this if you are not going to provide Wallpapers -->
                <!--<action android:name="org.kustom.provider.WALLPAPERS" />-->
                <!-- Comment this if you are not going to provide Widgets -->
                <action android:name="org.kustom.provider.WIDGETS" />
                <!-- Comment this if you are not going to provide Komponents -->
                <!-- <action android:name="org.kustom.provider.KOMPONENTS" /> -->
            </intent-filter>
        </provider>
    </application>

</manifest>
